:root{
    --orange:#E76F51;
    --white:#fff;
    --gray:#D2D2D2;
    --dark:#3B3735;
    --app-bg:#FAF4F2;
    --second-color:#F8E1DB;
}
html{
    box-sizing: border-box;
    font-size: 62.5%;
}
*,*:before,*:after{
    box-sizing: inherit;
}
body{
    line-height: 1.6;
    font-size: 1.6rem;
    font-family: "Roboto-regular","sans-serif","ariyal";
    background-color: var(--app-bg);
}

/*
===============
   Component
===============
*/
.btn{
    display: block;
    border-radius: 10rem;
    color: var(--white);
    background-color: var(--orange);
    width: 18rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    font-family: "Roboto-medium";
}

/*
===============
   header
===============
*/

.header{background: linear-gradient(rgba(59,55,53,0.5),rgba(59,55,53,0.5)),url("../images/header-bg.jpg");
    background-position: center;
    background-size: cover;
    min-height: 70rem;
    border-bottom-left-radius: 8rem;
    border-bottom-right-radius: 8rem;
}

/*
===============
   nav
===============
*/
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.5rem 0;
    width: 100%;
}
.nav_wrapper{display: flex;
    
align-items: center;}

/*
===============
   app Logo
===============
*/
.app_logo{
    
    width: 5.5rem;
    height: 5.5rem;
    margin-right: 4rem;
}
.app_logo__img{
    width: 100%;
    height: 100%;
}

/*
========================
   Main Menu{Deasktop}
========================
*/
.menu{
   display: none;
   
    
}
.menu__item{
    margin-right: 1.5rem;
}
.menu_link{
    text-decoration: none;
    color: var(--gray);
    transition: color 100ms ease-in
}
.menu_link:hover{color: var(--white);}
.menu_link__acttive{
    color: var(--white);
    position: relative;
    z-index: 0;
}
.menu_link__acttive::before{
    content: " ";
    position: absolute;
    width: 4rem;
    top: .7rem;
    height: .3rem;
    background-color: var(--orange);
    border-radius: 10rem;
    transform: rotate(45deg);
    z-index: -1;
    left: 0;
    right: 0;
    margin:0 auto;
    
}


/*
===============
 HEADER LINKS  
===============
*/

.header__links{
display: flex;
align-items: center;
}
.header__link{
    text-decoration: none;
    display: none;
    color: var(--white);
    
    font-family: "Roboto Medium";
    margin-left: 1.5rem;
    
}
.header__link_border{
    border: 1px solid var(--white);
    padding: 1rem 2.5rem;
    text-align: center;
    border-radius: 10rem;
    transition: all 100ms ease-in;
}

.header__link_border:hover{color: var(--dark);
background: var(--white)
;
}

/*
====================
   navigution menu
====================
*/
.nav_menu{background-color:var(--dark);
width: 25rem;
position: fixed ;
padding: 2.5rem; 
left: -25rem;
top: 0;
bottom: 0;
transition: all 150ms ease-in;
z-index: 100;

}

.nav_menu_effect{
    
    left: 0;
}
  
.nav_menu_title{color: var(--white);
border-bottom: 1px solid var(--white);
font-family: "Archivo Black";
padding-bottom: 1rem;
margin-bottom: 2rem;
text-align: center;
font-size: 2rem;
}
/*
===============
   mobile menu
===============
*/  
.mobile_menu{
    padding:0 0 3rem 0; 
}
.mobile_menu__item{
    padding-top: 1rem;
    
}
.mobile_menu_link{
    text-decoration: none;
    color: var(--white);
    position: relative;
    transition: all 250ms ease-in-out;
    
}
.mobile_menu_link::before{
    
content: " ";
position: absolute;
border-radius: 5rem;
width: 0;
height: 0.3rem;
left: 0;
bottom: 0;
top: 0;
margin: auto;
background-color: var(--orange);
transform: rotate(1deg)


}
.mobile_menu_link:hover{
    padding-left: 2.2rem;
}
.mobile_menu_link:hover::before{
    width: 1.6rem;

}

/*
===============
   nav links
===============
*/
                
.nav_menu__links{display: flex;

}
.nav_menu__link{
    color: var(--white);
    text-decoration: none;
    border: 1px solid var(--white);
    padding: 1rem;
    display: block;
    flex-grow: 1;
    text-align: center;

}
.nav_menu__link:hover{color: var(--dark);
background-color: var(--white);}

.nav_menu__link_border{
    
}


/*
===============
   Nav Btn
===============
*/
.nav__btn{
    background:var(--white);
   width: 5.5rem;
   height: 5.5rem;
   border-radius: 1.2rem;
   display:flex;
   justify-content: center;
   align-items: center;
   cursor: pointer;
}

.nav__btn_line {width: 3rem;
   height: .3rem;
   background-color: var(--orange);
   display: block;
   border-radius: 1rem;
   position: relative;
}
.nav__btn_line::before,
.nav__btn_line::after{
    content: '';
    border-radius: 1rem;
    width: 3rem;
    height: .3rem;
    background-color: var(--orange);
    position: absolute;
    transition: all 100ms ease-in-out;
}
.nav__btn_line::before{
    top: -.8rem;
    
}
.nav__btn_line::after{
    top: .8rem;
    
}

.nav__btn_open .nav__btn_line{
    background-color: transparent;
}

.nav__btn_open .nav__btn_line::before{
transform: translateY(8px) rotate(45deg);

}
.nav__btn_open .nav__btn_line::after{
transform: translateY(-8px) rotate(-45deg );
}

/*
====================
   Header Content
====================
*/

.header_content{
color: var(--white);
text-align: center;
margin-top: 3rem;
}

.header_content__title{
    font-family: "Archivo Black";
    font-size: 4.5rem;
    line-height: 4.5rem;
    max-width: 35rem;
    margin: 0rem auto 3rem auto;
}

.header_content__text{
    font-family: "Roboto Medium";
    font-weight: normal;
    max-width: 34rem;
    margin: 0rem auto 2rem auto;
}




.header_content__btn{
    margin-top: 2rem;
text-decoration: none;
font-size: 1.8rem;
}

/*
====================
       Main
====================
*/
.main{
padding: 4rem 0;
}


/*
====================
    Main Services
====================
*/
.services{
display: flex;
margin: -20rem -1rem 0 -1rem;
flex-wrap: wrap ;
}

.sevice{
display: flex;
flex-direction: column;
align-items: center;  
justify-content: center;

margin-bottom: 2rem ;
background: var(--white);
 width:30rem;
 height: 26rem;
padding: 0 2rem;
color: var(--dark);
border-radius: 2rem;
margin-right: 1rem;
margin-left: 1rem;
flex-grow: 1;
}

.service__img{ 
    display: block;
}

.sevice__title{
    font-family: "Archivo Black";
    font-size: 1.8rem;
    margin: 1.5rem 0 .6rem 0;
}

.sevice__content{
   
}

/*
====================
    Destinations
====================
*/
.destinations{
text-align: center;
padding: 6rem 0;
color: var(--dark);
position: relative;
}

.destinations::after,.destinations::before{
content: " ";
position: absolute;
background-repeat: no-repeat;
background-size: contain;
width: 60rem;
height: 60rem;

z-index: -1;

}
.destinations::after{
 
    
top: -10rem;
right: -45rem;
background: url("../images/svgs/shape1.svg") ;
}
.destinations::before{
bottom: 40rem;
left: -45rem;
background: url("../images/svgs/shape2.svg") ;
}



.destinations__img{
width: 8rem;
height: 8rem;

}

.destinations__text{
    font-family: "Archivo Black";
    font-size: 3rem;
    max-width: 36rem;
    margin: 3rem auto
}
/* 
==========================
    Destinations Place
==========================
*/
.destinations__places{
display: flex;

margin-right: -1rem;
margin-left: -1rem;
flex-wrap: wrap;
}

.place{
    background-color: var(--white);
    padding: 2rem ;
    border-radius: 2rem;
    color: var(--dark);
    margin-bottom: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    width: 30rem;
    flex-grow: 1;
    overflow: hidden;
}

.place__banner{
position: relative;

}

.place__img{
width: 100%;
height: 100%;
z-index: 0;
border-radius: 2rem;
object-fit: contain;

}
.place__like{
    background-color: var(--white);
width: 4rem;
height: 4rem;
display: flex;
justify-content: center;
align-items: center;
position: absolute;
top: 1.5rem;
right: 1.5rem;

border-radius: 1.5rem;
cursor: pointer;
}

.place__like-icon{




}

.place__price{
 position: absolute;
 bottom: -.8rem;
 left: 0;
 right: 0;
 margin: 0 auto;
background-color: var(--white);
width: 12rem;
border-radius: 1rem;
padding: .5rem 2rem;
}


.place__price-text{
    font-family: "Roboto Medium";
    color:var(--orange);
}


.place__title{
    font-family: "Archivo Black";
    margin: 3rem 0 .5rem 0;
    font-size: 1.8rem;
}
.place__caption{
    font-family: "Roboto";

}
.place__link{text-align: center;
    font-family: "Roboto Medium";
    line-height: 5rem;
    text-decoration: none;
    margin: 2rem auto 1rem auto;
color: #8d8d8d;
background-color: rgba(141,141,141,0.1);

}
.place__like-icon{

}
.place__like-icon_fill{
    fill: var(--orange);

}
/*
==========================
    Destinations Btn
==========================
*/
.destinations__btn{
    text-decoration: none;
    color: var(--orange);
    background-color: transparent;
    font-family: "Roboto Medium";
    border: 1px solid var(--orange);
    transition: all 100ms ease-in;
    margin-top: 3rem;
}
.destinations__btn:hover{
    color: var(--app-bg);
    background-color: var(--orange);
}

/*
==========================
    Newsletter
==========================
*/
.newsletter{
    background-color: var(--second-color);
    border-radius: 2rem;
    padding:3rem 2rem;
    text-align: center;
    display: flex;
    flex-direction: column-reverse;
    color: var(--dark );
    align-items: center;
    margin: 6rem 0;
    position: relative;
    overflow: hidden;
}

.newsletter::before{
    content: "";
    position: absolute;
    left: -15rem;
    top: 15rem;
    bottom: 0;
    right: 0;
    background: url("../images/svgs/shape3.svg") no-repeat;
    background-size: contain;
    width: 50rem;
    height: 50rem;

    }
    .newsletter__content,.newsletter__banner{z-index: 2;}

.newsletter__box{
   
    
    
    
    
}

.newsletter__content{padding-right: 4rem;
    }

.newsletter__title{
    font-family: "Archivo Black";
   
    margin: 1.5rem auto;
    font-size: 3rem;
}

.newsletter__caption{
    font-family: "Roboto Medium";
      font-size: small;

}

.newsletter__email_box{
    position: relative;
    background-color: var(--white);
    height: 8rem;
    padding: 0 1.5rem;
    border-radius: 2rem;
    margin-top: 2rem;
}
.newsletter__form{ 
   height: 100%;
    
    display: flex;
    align-items: center;
}
                    
.newsletter__email_icon{
    flex-shrink:0;

}

.newsletter_input{
border:none;
outline: none;
height: 100%;
color: #8D8D8D;
width: 100%;
padding: 0 1rem;
font-size: 1.6rem;
}

.newsletter_submit{
background-color: var(--orange);
width: 5rem;
height: 5rem;
outline: none;
border: none;
border-radius: 2rem;
flex-shrink:0;
display: flex;
align-items: center;
justify-content: center;
cursor: pointer;
box-shadow: 0 0 1rem rgba(231, 111, 81, .4);
}

.newsletter__banner{

    



}

.newsletter__img{
width: 100%;
object-fit: cover;
}

/*
===============
    Footer
===============
*/
.footer > .container{
   /* padding: 10rem 15rem 0 15rem;*/
   
padding-top: 10rem;
}

.footer{
background-color: var(--second-color);
border-top-left-radius: 10rem;
border-top-right-radius: 10rem;
color:var(--dark);
padding-bottom: 4rem;
margin-left: auto;
margin-right: auto;
}


.footer_wrapper{
/*display: flex;
justify-content: space-between;
*/

}

.footer_left{
max-width: 60rem;
}
.footer_content{
margin-bottom: 2rem;
}

.footer_title{
font-family: "Archivo Black";
font-size: 1.8rem;
margin-bottom: 1rem;
}

.footer_description{

}

.footer_app{display: none;

}

.footer_app__link{

}

.footer_right{
flex-wrap: wrap;
display: flex;
margin-bottom: 2rem;


}

.footer_list{
width: 16rem;
margin-bottom: 1rem;
margin-left: 1rem;


}

.footer_pages{

}

.footer_pages_item{
    
}

.footer_pages__link{
    color: var(--dark);
    text-decoration: none;
}
.footer_pages__link:hover{text-decoration:underline;}
.footer_copy__right{text-align: center;
font-size: 1.4rem;
margin-top: 2rem;
font-family: "Roboto";
}

.footer_scroll{
width: 5rem;
height: 5rem;
background-color: var(--white);
border-radius: 2rem;
position: absolute;
display: flex;
align-items: center;
justify-content: center;
top: -2.5rem;
right: 0;
left: 0;
margin: auto;
scroll-behavior: smooth;
box-shadow: 0 0 1rem rgba(59, 55, 53, .05);}
.footer_app__mobile{
    display: block;
}